<div ng-controller="HelpCtrl as main">
<div class='col-md-12'>
    <div class='page-header'>
        <h1>Learning Resources</h1>
    </div>
    <p>
        This page is dedicated to sharing information about how a Hazard and Operability Study works and what is involved in its creation.
    </p>
    <div class='row'>
        <div class='col-md-6'>
            <h3>Links</h3>
            <p>
                These links offer some great details about HAZOPS
            </p>
            <ul>
                <li>
                    <a href='http://www.pqri.org/pdfs/mtc/hazop_training_guide.pdf'>A training guide for HAZOPS with clear explanations</a>
                </li>
                <li>
                    <a href='http://en.wikipedia.org/wiki/Hazard_and_operability_study'>The Wikipedia article for HAZOPS</a>
                </li>
                <li>
                    <a href='http://www.powershow.com/view/15f50-NDYxY/Hazard_and_Operability_HAZOP_Study_powerpoint_ppt_presentation'>A set of slides that answer some common questions about HAZOPS</a>
                </li>
            </ul>
        </div>
    </div>

</div>
</div>
