<div ng-controller="WelcomeCtrl as main">
<div class='jumbotron'>
    <h1>Welcome to HAZOPS Viewer</h1>
    <p>
        This website is designed to make it easier to view, explore and understand the definition of a <strong>Hazards and Operability Study</strong> related to the manufacturing of autonomous cars
    </p>
    <div>
        <p>
            Click either of these buttons to get started!
        </p>
        <a href='/#/table' class='btn btn-primary'>Table View</a>
        <a href='/#/help' class='btn btn-primary'>Help and Information Page</a>
    </div>
</div>

</div>
