<div ng-controller="WelcomeCtrl as main">
<div class='jumbotron'>
    <h1>Welcome to HAZOPS Viewer</h1>
    <p>
        This website is designed to make it easier to view, explore and understand the definition of a <strong>Hazards and Operability Study</strong> related to the manufacturing of autonomous cars
    </p>
    <div>
        <p>
            Click either of these buttons to get started!
        </p>
        <a href='#/table' class='btn btn-primary'><i class="fa fa-table"></i> Table View</a>
        <a href='#/help' class='btn btn-primary'><i class="fa fa-question-circle"></i> Help and Information Page</a>
    </div>
</div>

<!-- Content Row -->
<div class="row">
    <div class="col-md-4">
        <h2>Access Anywhere</h2>
        <p>Be able to reference a study from anywhere on any device. This fully responsive tool makes it easy to keep up to date with your team's concerns and goals to increase safety.</p>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Understand HAZOPS better</h2>
        <p>With clear, easy to understand language, this tool aims to make HAZOPS easy to understand. Check out the glossary or help page for more in depth information or explainations to beter understand why risk analysis and Safety Critical Software is so important.</p>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Add More Detail</h2>
        <p>HAZOPS Viewer makes it very easy to update a <strong>Hazard and Operability Study</strong>, displaying your additions to the tabular display in real time!</p>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

</div>
